[submodule "BlackHoleTracer/Vendor/glfw"]
	path = BlackHoleTracer/Vendor/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "BlackHoleTracer/Vendor/glm"]
	path = BlackHoleTracer/Vendor/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "BlackHoleTracer/Vendor/glad"]
	path = BlackHoleTracer/Vendor/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
